body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.heading {
  font-size: 2rem;
  color: rebeccapurple;
  text-align: left;
  margin-top: 20px;
}
.img{
  width: 100px;
  height: 100px;
}
.heading1 {
  font-size: 2rem;
 font-family: 'Courier New', Courier, monospace;
 font-weight: bold;
}
.input-error {
  color: red;
  font-size: 1rem;
  margin-top: 5px;
  border: 1px solid red;
}
.error-msg {
  color: red;
  font-size: 1rem;
  margin-top: 5px;
}

